---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<key>&location=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 29 Sep 2022 06:11:42 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2141936129"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664431899,"sunrise":1664456049,"sunset":1664498770,"temp":64.69,"feels_like":62.69,"pressure":1021,"humidity":39,"dew_point":39.2,"uvi":0,"clouds":37,"visibility":10000,"wind_speed":5.08,"wind_deg":212,"wind_gust":7.7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1664431200,"temp":64.69,"feels_like":62.69,"pressure":1021,"humidity":39,"dew_point":39.2,"uvi":0,"clouds":37,"visibility":10000,"wind_speed":5.08,"wind_deg":212,"wind_gust":7.7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1664434800,"temp":65.41,"feels_like":63.39,"pressure":1020,"humidity":37,"dew_point":38.5,"uvi":0,"clouds":34,"visibility":10000,"wind_speed":5.19,"wind_deg":240,"wind_gust":8.59,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1664438400,"temp":65.88,"feels_like":63.81,"pressure":1020,"humidity":35,"dew_point":37.49,"uvi":0,"clouds":46,"visibility":10000,"wind_speed":3.94,"wind_deg":235,"wind_gust":5.14,"weather":[{"id":802,"ma[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?location%5Blat%5D=39.738453&location%5Blng%5D=-104.984853&per_page=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1c6e6ed6de41533ed93b1961fa6ffdbd"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"10-56-brewing-company-knox","name":"10-56 Brewing Company","brewery_type":"micro","street":"400
        Brown Cir","address_2":null,"address_3":null,"city":"Knox","state":"Indiana","county_province":null,"postal_code":"46534","country":"United
        States","longitude":"-86.627954","latitude":"41.289715","phone":"6308165790","website_url":null,"updated_at":"2022-08-20T02:56:08.975Z","created_at":"2022-08-20T02:56:08.975Z"},{"id":"10-barrel-brewing-co-bend-1","name":"10
        Barrel Brewing Co","brewery_type":"large","street":"62970 18th St","address_2":null,"address_3":null,"city":"Bend","state":"Oregon","county_province":null,"postal_code":"97701-9847","country":"United
        States","longitude":"-121.28170597038259","latitude":"44.08683530625218","phone":"5415851007","website_url":"http://www.10barrel.com","updated_at":"2022-08-20T02:56:08.975Z","created_at":"2022-08-20T02:56:08.9[...]
