---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<appid>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664431899,"sunrise":1664456049,"sunset":1664498770,"temp":64.69,"feels_like":62.69,"pressure":1021,"humidity":39,"dew_point":39.2,"uvi":0,"clouds":37,"visibility":10000,"wind_speed":5.08,"wind_deg":212,"wind_gust":7.7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1664431200,"temp":64.69,"feels_like":62.69,"pressure":1021,"humidity":39,"dew_point":39.2,"uvi":0,"clouds":37,"visibility":10000,"wind_speed":5.08,"wind_deg":212,"wind_gust":7.7,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1664434800,"temp":65.41,"feels_like":63.39,"pressure":1020,"humidity":37,"dew_point":38.5,"uvi":0,"clouds":34,"visibility":10000,"wind_speed":5.19,"wind_deg":240,"wind_gust":8.59,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1664438400,"temp":65.88,"feels_like":63.81,"pressure":1020,"humidity":35,"dew_point":37.49,"uvi":0,"clouds":46,"visibility":10000,"wind_speed":3.94,"wind_deg":235,"wind_gust":5.14,"weather":[{"id":802,"ma[...]
